.chatContent{
    background-color: whitesmoke;
    width: 96%;
    padding: 5px;
    font-size: medium;
    text-align: center;
    color:darkgoldenrod;
    border: 1px solid #7fffd4;    
}

.inputDiv{
    width: 90%;
    align-content: center;
}
.messageInput{
    border: 1px solid rgb(131, 112, 7);
    height:auto;
    width: 100%;
    margin-top: 10px;
}
.inputDiv{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.messageBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
.messageItem{
    margin:1px;
    font-size:small;
    text-align: left;
    width:100%;   
}

.userName{
    color:chocolate;
    font-size: small;
}

.room{
    margin: auto;
    width: 100%;
    padding: 5px;
    font-size:medium;
    text-align: center;
    color:coral;
}

#selectList{
    background-color:ivory;
}
.inputlist{
    margin:1px;
    height:auto;
}
.sendbtn{
    font-size: large;
    padding:2px;
}
